h1 {
    text-align: center;
    font-family: "Times New Roman";
    background-image: url(topic_bg.jpg);
}
h2 {
    text-align: center;
    font-family: "Times New Roman";

}
h3 {
    text-align: center;
    font-family: "Times New Roman";
}
p {
    color: black;
    text-align: center;
    font-family: Arial;
}
ul {
    text-align: center;

}
