h1 {
    text-align: center;
    font-family: "Times New Roman";
    background-image: lightblue;
    color: black;
    font-weight: bold;
    padding: 100px;
    word-spacing: 20px;
    border-bottom-width: 50px;
    border-color: darkblue;

}
h2 {
    text-align: left;
    font-family: "Times New Roman";
    color: black;

}
h3 {
    text-align: left;
    font-family: "Times New Roman";
    color: black;
    font-size: 1.2em;
}
h6 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 2em;

}
p {
    color: black;
    text-align: left;
    font-family: "Times New Roman";
    font-family: Arial;
}
ul {
    text-align: center;
    color: black;
    font-family: "Times New Roman";

}
