@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
    background-image: #ffffff;
    font-family: 'OpenSansLight', "Times New Roman", arial, helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 0px;
}
h1 {
    text-align: center;
    font-family: "Times New Roman", Arial;
    background-image: linear-gradient(to right , #33ccff, #66ffcc);
    color: white;
    font-weight: bolder 800;
    word-spacing: 5px;
    border-bottom-style: solid;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: none;
    text-shadow: 3px 2px #ffc266;
    margin: 0;
    margin-bottom: 20px;
    padding-top: 1em;
    letter-spacing: 0.1em;
    line-height: 100px;
    height: 2em;
    padding-bottom: 1em;

}
h2 {
    text-align: left;
    font-family: Arial, sans-serif;
    color: #2eb82e;
    padding:15px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
    margin-top: 10px;

}
h3 {
    text-align: left;
    font-family: Arial, sans-serif;
    color: #1a75ff;
    font-size: 22px;
    padding: 15px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h6 {
    text-align: center;
    color: #595959;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 3px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 12px;
    margin-bottom: 12px;

}
p {
    color: #595959;
    text-align: center;
    font-family: Arial, sans-serif;
    line-height:30px;
    letter-spacing: 0;
    margin-left: 300px;
    margin-right: 300px;

}
ul {
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
    list-style-type: square;
    font-style: bold;
    list-style-position: outside;
    margin-left: 300px;
    margin-right: 300px;

}
li {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 30px;
    display: block;
    color: #595959;
}
img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.methods {
    text-align: left;
}
