h1 {
    text-align: center;
    font-family: "Times New Roman";
    background-image: lightblue;
    color: black;
    font-weight: bold;
    word-spacing: 10px;
    border-bottom-width: 50px;
    border-color: darkblue;
    border-style: solid;
    text-transform: uppercase;
    padding: 20px;

}
h2 {
    text-align: left;
    font-family: "Times New Roman";
    color: black;
    padding:15px;

}
h3 {
    text-align: left;
    font-family: "Times New Roman";
    color: black;
    font-size: 18px;
    padding: 10px;
}
h6 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    padding: 3px;

}
p {
    color: black;
    text-align: left;
    font-family: "Times New Roman";
    font-family: Arial;
}
ul {
    text-align: center;
    color: black;
    font-family: "Times New Roman";
    list-style-type: square;
    font-style: bold;

}
li {
    text_align: center;
    font-family: "Times New Roman";
}
